@page "/"
@inject HttpClient http;
@inject NavigationManager navigationManager;
@using Newtonsoft.Json;


<PageTitle>Index</PageTitle>

<h1>Login</h1>

<a href="/register"><p>Don`t have account yet?</p></a>


@code{

}