@page "/user/{userid}"
@using enMessage.Shared.ViewModels
@inject IJSRuntime JsRuntime
@inject HttpClient client
@inject NavigationManager NavManager

<div class="sidebar">
    <button onclick="@GoToFriends">Friends</button>
    <button onclick="@Logout">Logout</button>
</div>

<h3>UserControl</h3>
<p>@me.Username</p>
<p>@UserId</p>


@code {
    [Parameter]
    public string UserId { get; set; }
    private UserViewModel me;


    protected override async Task OnInitializedAsync()
    {
        me = await client.GetFromJsonAsync<UserViewModel>("api/users/" + UserId);
    }

    protected void GoToFriends()
    {
        NavManager.NavigateTo("friends/" + UserId);
    }

    protected void Logout()
    {
        NavManager.NavigateTo("/");
    }
}
