@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-form {
    position: relative;
    z-index: 1;/*
    background: #F1E9DB;*/
    background: #172A3A;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


    .login-form input {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }

    .login-form button {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: #048A81;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
    }

        .login-form button:hover, form button:active, form button:focus {
            /*background: #172A3A;*/
            background: #F1E9DB;
            color: #172A3A;
            font-family: "Roboto", sans-serif;
        }



.login-container {
    width: 420px;
    padding: 8% 0 0;
    margin: auto;
}

    .login-container .message {
        margin: 15px 0 0;
        color: #b3b3b3;
    }

a {
    color: #048A81;
    text-decoration: none;
}

.message a {
    font-size: 16px;
}



.login, .register {
    color: #F1E9DB;
    font-size: 4.3em;
    justify-content: center;
    display: flex;
    margin: 30px;
    font-weight: bold;
    transition: .5s ease-in-out;
}